<input type="text" placeholder="Topic Name" ng-model="newTopic.name"><br>
<button ng-click="createNewTopic()">Create New Topic</button>

<!-- insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(cats, 'BE322E', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A893ED', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, '9F449E', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'DFBF6E', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'B79F41', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, '705A96', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now());
insert into categories (name, color, "createdAt", "updatedAt") values(random, 'A8A77A', now(), now()); -->